

@media (min-width: 400px){
  .boite {
    display: var(--display-f);
    align-items: var(--position-c); /* Centre les éléments verticalement */
    border: var(--taille-1-px) var(--type-solid) var(--color-black);
    padding: var(--taille-10-px);
    margin: var(--taille-10-px);
    background-image: var(--img-background-profilBoite);
    background-size: var(--img--type-contain);
    height: var(--taille-176-px);
  }
  
  
  
  #boiteProfilDiv .image {
    max-width: var(--taille-100-p);
  }
  
  #boiteProfilDiv p {
  color: var(--color-black);
  font-size: var(--taille-28-px);
  text-align: var(--position-c);
  -webkit-text-stroke: var(--taille-0-8-px ) var(--vt-c-white);
  }
  
  
  #imageProfilBoite{
    margin-left: var(--taille-20-px);
    height: var(--taille-130-px); 
    width: var(--taille-130-px);
    object-fit: var(--img--type-contain);
  }
  
  #imageProfilBoite img{
    height: var(--taille-130-px); 
    width: var(--taille-130-px);
    object-fit: var(--img--type-contain);
  }
  
  #nomProfilBoite{ 
    width: var(--taille-23-p);
  }
  
  #numeroProfilBoite{
    width: var(--taille-10-p);
  }
  
  #universProfilBoite{
    width: var(--taille-20-p);
  }
  
  #nombrePiecesProfilBoite{
    width: var(--taille-8-p);
  }
  
  #dateDeSortieProfilBoite{
    width: var(--taille-8-p);
  }
  #boutonBoite{
    width: var(--taille-170-px);
    text-align: var(--position-c);
  }
  
}

@media (max-width: 400px){
  .boite {
    align-items: var(--position-c); /* Centre les éléments verticalement */
    border: var(--taille-1-px) var(--type-solid) var(--color-black);
    padding: var(--taille-10-px);
    width: var(--taille-375-px);
    height: var(--taille-400-px);
    margin-bottom: var(--taille-10-px);
    background-image: var(--img-background-profilBoite-responsive);
    background-size: var(--img--type-contain);
  }
  
  
  
  #boiteProfilDiv .image {
    max-width: var(--taille-100-p);
    margin-left: var(--position-auto);
    margin-right: var(--position-auto);
  }
  
  #boiteProfilDiv p {
  color:#000;
  font-size: var(--taille-18-px);
  text-align: var(--position-c);
  -webkit-text-stroke: 0.5px black;
  }
  
  
  #imageProfilBoite{
    height: var(--taille-170-px); 
    width: var(--taille-170-px);
    object-fit: var(--img--type-contain);
    margin-top: var(--taille-22-px);
  }
  
  #imageProfilBoite img{
    height: var(--taille-170-px); 
    width: var(--taille-170-px);
    object-fit: var(--img--type-contain);
  }
  
  .nom{
    width: var(--taille-320-px);
    margin-left: var(--taille-20-px);
  }
  .numero{
    width: var(--taille-320-px);
    margin-left: var(--taille-20-px);
  }

  .univers{
    width: var(--taille-320-px);
    margin-left: var(--taille-20-px);
  }

  .nombrePieces{
    width: var(--taille-320-px);
    margin-left: var(--taille-20-px);
  }

  .dateDeSortie{
    width: var(--taille-320-px);
    margin-left: var(--taille-20-px);
  }

  #boutonBoite{
    text-align: var(--position-c);
    margin-right: var(--taille-10-px);
  }
  
}