// #imageProfilBoite{
//   height: 200px; 
//   width: 200px;
//   margin-bottom: -100px;
//   object-fit: contain;
// }
// .boite{
//   display: block;
//   background-color: aquamarine;
//   border: solid 1px #000000;
//   height: 200px;
//   width: 100%;
//   position: relative;
// }

// .boite div{
//   border: solid 1px black;
//   color: black;
//   top: 0px;
// }

// // .boite img{
// //   width: 160px;
// //   height: 160px;
// //   object-fit: contain;
// //   background-color: white;
// // }

// .nom{
//   display: flex;
//   align-items: center;
//   height: 100vh;
//    height: 160px;
// }

.boite {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    background-image: url("../../assets/img/backgroundRecherche.png");
  }
  
#boiteProfilDiv .image {
    max-width: 100%;
}
  
#boiteProfilDiv p {
    font-size: 20px;
    -webkit-text-stroke: 0.5px white;
}

#imageProfilBoite{
height: 200px; 
width: 200px;
object-fit: contain;
}

#imageProfilBoite img{
height: 200px; 
width: 200px;
object-fit: contain;
}

#nomProfilBoite{ 
width: 25%;
}

#numeroProfilBoite{
width: 10%;
}

#universProfilBoite{
width: 10%;
}

#nombrePiecesProfilBoite{
width: 10%;
}

#dateDeSortieProfilBoite{
width: 10%;
}