@media (min-width: 800px){
    #titreMaCollec{
        font-size: var(--taille-64-px);
        text-align: var(--position-c);
    }
}

@media (max-width: 800px){
    #titreMaCollec{
        text-align: var(--position-c);
        font-size: var(--taille-44-px);
    }
}