@media (min-width: 800px){
  #tab-container{
    margin: var(--position-auto);
    display: var(--display-b);
    padding: var(--taille-10-px);
    width: var(--taille-650-px);
  }
  
  .divInlineBlockRecherche div{
    display: var(--display-il);
  }

  #divChangeInlineBlock{
    display: var(--display-f);
    align-items: var(--position-c); 
    padding: var(--taille-10-px);
    margin: var(--taille-10-px);
    background-size: var(--img--type-contain);
    height: var(--taille-176-px);
  }

  #divChangeInlineBlock div{
    text-align: var(--position-c);
  }

  .photoLabel{
    width: var(--taille-15-p);
  }

  .nomLabel{
    width: var(--taille-20-p);
  }

  .numBoiteLabel{
    width: var(--taille-13-p);
  }

  .universLabel{
    width: var(--taille-17-p);
  }

  .nbrPieceLabel{
    width: var(--taille-8-p);
  }

  .anneeBoiteLabel{
    width: var(--taille-8-p);
  }

  .actionLabel{
    width: var(--taille-16-p);
  }
  
  #boiteProfilDiv .image {
    max-width: var(--taille-100-p);
  }

  
  
  #tab-container{
    width: var(--taille-1200-px);
  }
  
  #titreRecherche{
    font-size: var(--taille-96-px);
  }
}

@media (max-width: 800px){

}