@media (min-width: 400px){
    footer{
        background-image: var(--img-background-footer);
        background-size: var(--img--type-cover);
        width: var(--taille-100-p);
        height: var(--taille-350-px);
    }
    
    #texteFooter{
        padding-top: var(--taille-100-px);
        font-size: var(--taille-20-px);
        text-shadow: var(--font--border-w);
    }
    .textFooter{
        margin-top: var(--taille-50-px);
        text-shadow: var(--font--border-w);
        text-align: var(--position-c);
    }
    .lien{
        display: var(--display-b);
        font-size: var(--taille-30-px);
        text-align: var(--position-c);
    }
    .footer_info{
        padding: var(--taille-10-px);
        font-size: var(--taille-30-px);
    }
    #footer_line{
        position: var(--position-re);
        text-align: var(--position-c);
    }
}

@media (max-width: 400px){
    footer{
        background-image: var(--img-background-responsible-footer);
        background-size:var(--img--type-cover);
        background-size: var(--taille-200-p);
        background-repeat: var(--img--type-no-repeat);
        width: var(--taille-100-p);
        height: var(--taille-230-px);
    }
    
    #texteFooter{
        padding-top: var(--taille-90-px);
        font-size: var(--taille-20-px);
        text-shadow: var(--font--border-w);
    }

    .footer_info{
        padding: var(--taille-5-px);
        text-shadow: var(--font--border-w);
        display: block;
        padding-left: var(--taille-0-px);
        font-size: var(--taille-25-px);
    }

    .lien{
        font-size: var(--taille-25-px);
    }
}