@media (min-width: 800px){
    .boutonMenuGauche{
        margin-bottom: var(--taille-5-px);
        margin-left: var(--taille-20-px);
        font-size: var(--taille-24-px);
    }
    
    #titreMenuGauche{
        margin-bottom: var(--taille-5-px);
        font-size: var(--taille-64-px);
        margin-left: var(--taille-10-px);
    }
    #blockMenuGauche{
        text-align: var(--position-c);
        width: var(--taille-50-p);
        border: var(--taille-1-px) var(--type-solid);
        margin-top: var(--taille-20-px);
    }

    #blockMenuGauche{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 800px){
    .boutonMenuGauche{
        margin-bottom: var(--taille-5-px);
        margin-left: var(--taille-20-px);
        font-size: var(--taille-20-px);
    }
    
    #titreMenuGauche{
        margin-bottom: var(--taille-5-px);
        font-size: var(--taille-42-px);
        margin-left: var(--taille-10-px);
    }

    #blockMenuGauche{
        text-align: var(--position-c);
        width: var(--taille-100-p);
        border: var(--taille-1-px) var(--type-solid);
    }
}