@media (min-width: 800px){
  #titreAventure{
    margin-top: var(--taille-150-px);
    text-align: var(--position-c);
  }

  #description{
      text-align: var(--position-c);
      margin-bottom: var(--taille-100-px);
      font-family: var(--font--text);
  }

  #boutonInscription{
    text-align: var(--position-c);
  }

  #divImgBoutonCentral{ 
    margin-left: var(--position-auto);
    margin-right: var(--position-auto);
    background-image: var(--img-background-b-central);
    width: var(--taille-400-px);
    height: var(--taille-100-px);
    background-size: var(--img--type-contain);
  }

  #spanFirstPage{
    font-family: var(--font--text);
    font-size: var(--taille-50-px);
    text-shadow:var(--font--border-w)
  }

  #titreAventure{
    font-size: var(--taille-96-px);
  }
  #description{
      font-size: var(--taille-32-px);
  }

  #imgInscription{
    width: var(--taille-400-px);
  }
}

@media (max-width: 800px){
  #titreAventure{
    margin-top: var(--taille-100-px);
    text-align: var(--position-c);
    font-size: var(--taille-35-px);
  }

  #description{
      text-align: var(--position-c);
      margin-bottom: var(--taille-100-px);
      font-family: var(--font--text);
  }

  #boutonInscription{
      text-align: var(--position-c);
  }
  #description{
      font-size: var(--taille-32-px);
  }

  #imgInscription{
    width: var(--taille-300-px);
  }
}