#titreAventure{
      margin-top: var(--taille-150-px);
      text-align: var(--position-c);
  }

  #description{
      text-align: var(--position-c);
      margin-bottom: var(--taille-100-px);
      font-family: var(--font--text);
  }

  #boutonInscription{
      text-align: var(--position-c);
  }
  #titreAventure{
    font-size: var(--taille-96-px);
  }
  #description{
      font-size: var(--taille-32-px);
  }
  
  #imgInscription{
    width: var(--taille-400-px);
  }