@font-face {
    font-family: 'LegoThick';
    src: url("../assets/font/Legothick.ttf");
  }
  @font-face {
      font-family: 'Acme';
      src: url("../assets/font/Acme-Regular.ttf");
  }

  #titreAventure{
      margin-top: 150px;
      font-family: 'LegoThick';
      text-align: center;
  }

  #description{
      text-align: center;
      margin-bottom: 100px;
      font-family: 'Acme';
  }

  #boutonInscription{
      text-align: center;
  }
  #titreAventure{
    font-size: 96px;
  }
  #description{
      font-size: 32px;
  }
  #imgInscription{
    width: 400px;
  }