@media (min-width: 800px){
    header{
        background-image: var(--img-background-header);
        background-repeat: var(--img--type-no-repeat);
        background-size: var(--img--type-cover);
        height: var(--taille-220-px);
        width: var(--taille-100-p);
        margin-left: var(--taille-0-px);
        margin-right: var(--taille-0-px);
    }

    #imgProfil{
        float: var(--position-r);
    }
    
    #boutonProfil{
        background-color: var(--vt-c-white);
        border-color: var(--color-transparent);
        float: var(--position-r);
        margin-top: var(--taille-50-px);
        box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.9);
    }
    
    #boutonMenu{
        border-color: var(--color-transparent);
        height: 100px;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.9);
    }
    #imgBoutonMenu{
        height: var(--taille-100-px);
        margin-bottom: var(--taille-50-px);
    }
    #imgLogo{
        height: var(--taille-220-px);
    }
    #divImgLogo{
        display: var(--display-ilb);
        margin-left: var(--taille-40-p);
        background-color: var(--vt-c-white);
    }
}

@media (max-width: 800px){
    #headerResponsive{
        background-image: var(--img-background-header);
        height: var(--taille-100-px);
        width: var(--taille-100-p);
        margin-left: var(--taille-0-px);
        margin-right: var(--taille-0-px);
        filter: var(--opacity-80);
    }
    #headerNormal{
        height: var(--taille-100-px);
        width: var(--taille-100-p);
        margin-left: var(--taille-0-px);
        margin-right: var(--taille-0-px);
        filter: var(--opacity-80);
        margin-bottom: var(--taille-90-px);

    }

    #imgProfil{
        float: var(--position-r);
        height: var(--taille-70-px);
    }
    
    #boutonProfil{
        background: var(--color-transparent);
        border-color: var(--color-transparent);
        float: var(--position-r);
        height: var(--taille-20-p);
        margin-top: 50px;
    }
    
    #boutonMenu{
        background: var(--color-transparent);
        border-color: var(--color-transparent);
    }
    #imgBoutonMenu{
        height: var(--taille-60-px);
        margin-bottom: 50px;
    }
    #imgLogo{
        height: 170px;
    }
    #divImgLogo{
        display: var(--display-ilb);
        margin-left: 40px;
    }
}



