header{
    background-image: url("../../assets/img/headerImg.png");
    height: 220px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#imgProfil{
    float: right;
}

#boutonProfil{
    background: transparent;
    border-color: transparent;
    float: right;
    margin-top: 50px;
}

#boutonMenu{
    background: transparent;
    border-color: transparent;
}
#imgBoutonMenu{
    height: 100px;
    margin-bottom: 50px;
}
#imgLogo{
    height: 220px;
}
#divImgLogo{
    display: inline-block;
    margin-left: 40%;
}