    @media (min-width: 400px){
        #blockConnexion{
          margin-left: var(--position-auto);
          margin-right: var(--position-auto);
          border: var(--taille-1-px) var(--type-solid);
          width: var(--taille-700-px);
          margin-top: var(--taille-100-px);
          margin-bottom: var(--taille-50-px);
        }
        #otherLink{
          margin-top: - 10px;
          text-align: var(--position-c);
          
        }

        #otherLink h2{
          font-family: var(--font--text);
          display: var(--display-il);
          margin-left: var(--taille-10-px);
          text-decoration: var(--text-decoration-under);
        }
      }
      @media (max-width: 400px){
        #blockConnexion{
          margin-left: var(--position-auto);
          margin-right: var(--position-auto);
          border: var(--taille-1-px) var(--type-solid);
          width: var(--taille-300-px);
          margin-top: var(--taille-100-px);
          margin-bottom: var(--taille-100-px);
        }
      }