

  @media (min-width: 400px){
    #blockMonProfil{
      margin-left: var(--position-auto);
      margin-right: var(--position-auto);
      border: var(--taille-1-px) var(--type-solid);
      width: var(--taille-700-px);
      margin-top: var(--taille-100-px);
      margin-bottom: var(--taille-50-px);
    }
    #imageCompte{
      margin-left: var(--taille-5-p);
    }

    #titreMonProfil{
        font-size: var(--taille-64-px);
    }
    #textProfil{
        margin-left: var(--taille-15-px);
        font-size: var(--taille-24-px);
    }

    #titreGererCompte{
        font-size: var(--taille-44-px);
        margin-left: var(--taille-15-px);
    }

    .radioProfil{
        margin-left: var(--taille-90-px);
    }

    #estAdmin{
        font-size: var(--taille-44-px);
        margin-left: var(--taille-15-px);
    }
  }
  @media (max-width: 400px){
    #blockMonProfil{
      margin-left: var(--position-auto);
      margin-right: var(--position-auto);
      border: var(--taille-1-px) var(--type-solid);
      width: var(--taille-300-px);
      margin-top: var(--taille-100-px);
      margin-bottom: var(--taille-100-px);
    }

    #imageCompte{
      width: var(--taille-250-px);
      margin-left: var(--taille-25-px);
    }
    #titreMonProfil{
      font-size: var(--taille-44-px);
    }
    #textProfil{
      margin-left: var(--taille-15-px);
      font-size: var(--taille-15-px);
    }
    #titreGererCompte{
      font-size: var(--taille-32-px);
      margin-left: var(--taille-15-px);
    }
    .radioProfil{
      margin-left: var(--taille-40-px);
    }
    #estAdmin{
      font-size: var(--taille-32-px);
      margin-left: var(--taille-15-px);
  }
  }