@media (min-width: 800px){
  
  #nouveaute{
    height: var(--taille-400-px);
    text-align: var(--position-c);
  }
  
  #divImageCaroussel{
    display: var(--display-ilb);
    width: var(--taille-500-px);
    height: var(--taille-400-px);
    background-color: black;
  }
  
  #nouveaute img{
    background-color: var(--vt-c-white);
    height: var(--taille-300-px);
    margin-top: var(--taille-10-p);
  }
  
  
  #imageFlecheDroit{
    display: var(--display-ilb);
  }
  
  #precedent{
    
    background-image: var(--img-fleche-gauche);
    background-size: var(--img--type-contain);
    border: var(--color-transparent);
    height: var(--taille-145-px);
    width: var(--taille-185-px);
    background-color: var(--color-transparent);
  }
  #suivant{
    background-image: var(--img-fleche-droit);
    background-size: var(--img--type-contain);
    margin-top: var(--taille-0-px);
    margin-bottom: var(--taille-0-px);
    border: var(--color-transparent);
    height: var(--taille-145-px);
    width: var(--taille-185-px);
    background-color: var(--color-transparent);
  }
  
  #imageFlecheGauche{
    display: var(--display-ilb);
  }
  
  #nouveaute{
    margin-bottom: var(--taille-200-px);
  }
  #titreNouveaute{
    font-size: 44px;
  }
}

@media (max-width: 800px){
  #nouveaute{
    height: var(--taille-150-px);
    text-align: var(--position-c);
  }
  
  #divImageCaroussel{
    display: var(--display-ilb);
    width: var(--taille-300-px);
    height: var(--taille-200-px);
    background-color: black;
  }
  
  #nouveaute img{
    background-color: var(--vt-c-white);
    height: var(--taille-150-px);
    margin-top: var(--taille-10-p);
  }
  
  
  #imageFlecheDroit{
    display: var(--display-ilb);
  }
  
  #precedent{
    position: absolute;
    background-image: var(--img-fleche-gauche);
    background-size: var(--img--type-contain);
    border: var(--color-transparent);
    height: var(--taille-70-px);
    width: var(--taille-90-px);
    left: var(--taille-45-px);
    margin-top: var(--taille-20-px);
    background-color: var(--color-transparent);
  }
  #suivant{
    position: absolute;
    background-image: var(--img-fleche-droit);
    background-size: var(--img--type-contain);
    margin-top: var(--taille-0-px);
    margin-bottom: var(--taille-0-px);
    border: var(--color-transparent);
    height: var(--taille-70-px);
    width: var(--taille-90-px);
    right: var(--taille-45-px);
    margin-top: var(--taille-20-px);
    background-color: var(--color-transparent);
  }
  
  #imageFlecheGauche{
    display: var(--display-ilb);
  }
  
  #nouveaute{
    margin-bottom: var(--taille-300-px);
  }
}