#descriptif{
    height: var(--taille-150-px);
  }

  @media (min-width: 800px){
    #blockAjout{
      margin-left: var(--position-auto);
      margin-right: var(--position-auto);
      border: var(--taille-1-px) var(--type-solid);
      width: var(--taille-700-px);
      margin-top: var(--taille-100-px);
      margin-bottom: var(--taille-50-px);
    }
    #titreAjout{
        font-size: var(--taille-64-px);
    }
    .imgInputAjout{
        margin-left: var(--taille-25-p);
        width: var(--taille-350-px);
    }
  }
  @media (max-width: 800px){
    #blockAjout{
      margin-left: var(--position-auto);
      margin-right: var(--position-auto);
      border: var(--taille-1-px) var(--type-solid);
      width: var(--taille-300-px);
      margin-top: var(--taille-100-px);
      margin-bottom: var(--taille-100-px);
    }
    .imgInputAjout{
        margin-left: var(--taille-25-p);
        width: var(--taille-150-px);
    }
  }