@media (min-width: 400px){
  #grid-containers-list{
    margin: var(--position-auto);
    display: var(--display-g);
    grid-template-columns: var(--position-auto) var(--position-auto) var(--position-auto) var(--position-auto) var(--position-auto);
    grid-gap: var(--taille-10-px);
    padding: var(--taille-10-px);
    width: var(--type-fit-c);
  }
  
  .utilisateur{
    background-color: var(--color-white1);
    text-align: var(--position-c);
    padding: var(--taille-20-px) var(--taille-0);
    font-size: var(--taille-30-px);
    color: var(--color-black);
    border-radius: var(--taille-20-px);
  }
  
  div{
    margin: var(--taille-0-px);
    padding: var(--taille-0-px);
  }
  
  .utilisateur img{
    width: var(--taille-160-px);
    height: var(--taille-160-px);
    object-fit: var(--img--type-contain);
    border-radius: var(--taille-20-px);
  }
  
  .utilisateur{
    width: var(--taille-160-px);
    height: var(--taille-160-px);
    padding : var(--taille-0-px);
    position: var(--position-re);
  }
  
  .utilisateur:hover{
    color:var(--color-black);
    box-shadow: var(--taille-0) var(--taille-5-px) var(--taille-15-px) var(--color-black);
  }
  
  .pseudo{
    position: var(--position-a);
    bottom: var(--taille-0-px);
    right: var(--taille-0-px);
    width: var(--taille-100-p);
    background: rgba($color: var(--color-black), $alpha: var(--taille-0-1));
    border-bottom-left-radius: var(--taille-20-px);
    border-bottom-right-radius: var(--taille-20-px);
  }

  #titreTopUti{
    font-size: 44px;
  }
}



@media (max-width: 400px){
  #grid-containers-list{
    margin: var(--position-auto);
    display: var(--display-g);
    grid-template-columns: var(--position-auto) var(--position-auto);
    grid-gap: var(--taille-10-px);
    padding: var(--taille-10-px);
    width: var(--type-fit-c);
    height: var(--taille-800-p);
  }
  
  .utilisateur{
    background-color: var(--color-white1);
    text-align: var(--position-c);
    padding: var(--taille-20-px) var(--taille-0);
    font-size: var(--taille-30-px);
    color: var(--color-black);
    border-radius: var(--taille-20-px);
  }
  
  div{
    margin: var(--taille-0-px);
    padding: var(--taille-0-px);
  }
  
  .utilisateur img{
    width: var(--taille-160-px);
    height: var(--taille-160-px);
    object-fit: var(--img--type-contain);
    border-radius: var(--taille-20-px);
  }
  
  .utilisateur{
    width: var(--taille-160-px);
    height: var(--taille-160-px);
    padding : var(--taille-0-px);
    position: var(--position-re);
  }
  
  .utilisateur:hover{
    color:var(--color-black);
    box-shadow: var(--taille-0) var(--taille-5-px) var(--taille-15-px) var(--color-black);
  }
  
  .pseudo{
    position: var(--position-a);
    bottom: var(--taille-0-px);
    right: var(--taille-0-px);
    width: var(--taille-100-p);
    background: rgba($color: var(--color-black), $alpha: var(--taille-0-1));
    border-bottom-left-radius: var(--taille-20-px);
    border-bottom-right-radius: var(--taille-20-px);
  }
  
  #titreRechercherUti{
    text-align: var(--position-c);
    font-size: var(--taille-44-px);
  }
}