@media (min-width: 800px){
    #boiteDivSugg {
        display: var(--display-f);
        align-items: var(--position-c); /* Centre les éléments verticalement */
        border: var(--taille-1-px) var(--type-solid) var(--color-black);
        padding: var(--taille-10-px);
        margin: var(--taille-10-px);
        background-image: var(--img-background-profilBoite);
        background-size: contain;
        height: 175px; 
        width: 1260px;
      }
    #divImgSugg{
        height: var(--taille-130-px); 
        width: var(--taille-130-px);
        object-fit: var(--img--type-contain);
        margin-left: 30px;
      }

      #boiteDivSugg p {
         text-align: center;
         font-size: 22px;
       }
      
    #idImgSugg{
        height: var(--taille-130-px); 
        width: var(--taille-130-px);
        object-fit: var(--img--type-contain);
        background-color: white;
      }
      
      #typeSuggP{ 
        width: var(--taille-10-p);
      }
      
      #nomBoiteSugg{
        width: var(--taille-20-p);
      }
      
      #numeroBoiteSugg{
        width: var(--taille-10-p);
      }
      
      #universSugg{
        width: var(--taille-10-p);
      }
      
      #nbrPieceSugg{
        width: var(--taille-10-p);
      }
      
      #anneSortieSugg{
        width: var(--taille-10-p);
      }
}

@media (max-width: 800px){
  .boiteSugg{
    align-items: var(--position-c); /* Centre les éléments verticalement */
    border: var(--taille-1-px) var(--type-solid) var(--color-black);
    padding: var(--taille-10-px);
    width: var(--taille-375-px);
    height: 480px;
    margin-bottom: var(--taille-10-px);
    background-image: var(--img-background-profilBoite-responsive);
    background-size: var(--img--type-contain);
  }

  #divImgSugg{
    max-width: var(--taille-100-p);
    margin-left: var(--position-auto);
    margin-right: var(--position-auto);
  }

  #idImgSugg{
    margin-left: 25%;
    height: var(--taille-170-px); 
    width: var(--taille-170-px);
    object-fit: var(--img--type-contain);
    margin-top: var(--taille-22-px);
  }

  .boiteSugg p {
    color:#000;
    font-size: var(--taille-18-px);
    text-align: var(--position-c);
    -webkit-text-stroke: 0.5px black;
    }

  .actions{
    text-align: var(--position-c);
    margin-right: var(--taille-10-px);
  }
  #boiteDivSugg p {
    text-align: center;
    font-size: 18px;
  }
}