@media (min-width: 800px){
  #titreCentral{
    font-size: var(--taille-96-px);
    text-align: var(--position-c);
  }
}

@media (max-width: 800px){
  #titreCentral{
    font-size: var(--taille-56-px);
    text-align: var(--position-c);
  }
}