@font-face {
    font-family: 'LegoThick';
    src: url("../../assets/font/Legothick.ttf");
    }
    @font-face {
        font-family: 'Acme';
        src: url("../../assets/font/Acme-Regular.ttf");
    }

    // #blockAjout{
    //     margin-left: auto;
    //     margin-right: auto;
    //     border: 1px solid;
    //     width: 700px;
    // }
    // #imageBoiteProposition{
    //     display: none;
    // }
    // #labelInputFile{
    //     width: 25%;
    //     margin-left: 35%;
    // }
    // #imgInputFile{
    //     margin-top: 50px;
    //     width: 100%;
    //     margin-bottom: 100px;
    // }
    // label{
    //     font-family: 'Acme';
    //     font-size: 20px;
    //     display: block;
    //     margin-left: 70px;
    // }
    // h1{
    //     font-family: 'LegoThick';
    //     font-size: 64px;
    //     text-align: center;
    // }

    // #nom{
    //     width: 70%;
    //     margin-left: 90px;
    //     background-color: lightgray;
    // }
    // #numBoite{
    //     width: 70%;
    //     margin-left: 90px;
    //     background-color: lightgray;
    // }
    // #univers{
    //     width: 70%;
    //     margin-left: 90px;
    //     background-color: lightgray;
    // }
    // #nbrPiece{
    //     width: 70%;
    //     margin-left: 90px;
    //     background-color: lightgray;
    // }
    // #anneeSortie{
    //     width: 70%;
    //     margin-left: 90px;
    //     background-color: lightgray;
    // }
    // #descriptif{
    //     width: 70%;
    //     margin-left: 90px;
    //     background-color: lightgray;
    //     height: 100px;
    // }

    // #boutonEnvoie{
    //     margin-top: 50px;
    //     width: 40%;
    //     height: 50px;
    //     background-image: url("../../assets/img/boutonCentral.png");
    //     background-size: contain;
    //     margin-bottom: 100px;
    //     border-color: transparent;
    // }

    // #divBoutonEnvoie{
    //     text-align: center;
    // }

    // #spanEnvoie{
    //     font-family: 'Acme';
    //     font-size: 30px;
    //     text-shadow:
    //     -1px 0px 0px white,
    //     1px 0px 0px white,
    //     0px -1px 0px white,
    //     0px 1px 0px white;
    // }